<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.0.0" targetFramework="net45" />
  <package id="Moq" version="4.7.25" targetFramework="net45" />
  <package id="MvvmCross" version="5.0.2" targetFramework="net45" />
  <package id="MvvmCross.Binding" version="5.0.2" targetFramework="net45" />
  <package id="MvvmCross.Core" version="5.0.2" targetFramework="net45" />
  <package id="MvvmCross.Platform" version="5.0.2" targetFramework="net45" />
  <package id="MvvmCross.Plugin.Messenger" version="5.0.2" targetFramework="net45" />
  <package id="MvvmCross.Tests" version="5.0.2" targetFramework="net45" />
  <package id="NUnit" version="3.7.1" targetFramework="net45" />
</packages>